* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  margin-bottom: auto;
  margin-top: 100px;
  margin-right: -475px;
  font-family: serif;
  color: cyan;
}
.container {
  display: flex;
  width: 600px;
  height: 200px;
  background-color: #08001f;
  border-radius: 5%;
}
.clock {
  width: 400px;
  height: 100px;
  background-color: rgba(235, 0, 255, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5%;
}
.clock span {
  width: 100px;
  font-size: 50px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.clock span::after {
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#hrs::after {
  content: "Hours";
}
#mins::after {
  content: "Minutes";
}
#sec::after {
  content: "Seconds";
}
